blinker==1.9.0
click==8.1.7
colorama==0.4.6
Flask==3.1.0
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe
packaging==24.2
Werkzeug==3.1.3

# Flask extensions
flask_cors==5.0.0
flask_limiter==3.9.2
flask_talisman==1.1.0

# Custom packages
# eurelis-llmatoolkit @ git+https://github.com/Eurelis/Eurelis-LlmaToolkit@spike/llamaindex#eurelis-llmatoolkit[huggingface,mongodb,anthropic,llamaindex,chatbot,markdown]
eurelis-llmatoolkit @ git+https://github.com/Eurelis/Eurelis-LlmaToolkit@spike/llamaindex#eurelis-llmatoolkit[huggingface,mongodb,llamaindex,chatbot,markdown]
anthropic==0.40.0
llama-index-llms-anthropic==0.4.1